@model IEnumerable<MVC.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<div class="w3-container">
    <div class="w3-row">
        <b>Hoa Don/</b>Index
        <a asp-action="Create" class="w3-btn w3-border w3-border-blue w3-round w3-right w3-tiny w3-horver-blue">+ Add
            new</a>
    </div>
    <hr />
    <table class="w3-table-all w3-card-4 w3-centered">
        <thead>
            <tr class="w3-blue">
                <th class="w3-col l2">IdHD</th>
                <th class="w3-col l2">IdKH</th>
                <th class="w3-col l2">IdNV</th>
                <th class="w3-col l2">IdSP</th>
                <th class="w3-col l4">MyProperty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="w3-col l2">@item.IdHD</td>
                    <td class="w3-col l2">@item.IdKH</td>
                    <td class="w3-col l2">@item.IdNV</td>
                    <td class="w3-col l2">@item.IdSP</td>
                    <td class="w3-col l4">@item.MyProperty</td>
                    <td class="w3-col 10">
                        <a asp-action="Edit" asp-route-id="@item.IdHD" class="w3-button w3-green w3-round-large w3-small"><i
                                class="fa fa-edit"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.IdHD" class="w3-button w3-red w3-round-large w3-small"><i
                                class="fa fa-trash"></i></a>
                        <a asp-action="Details" asp-route-id="@item.IdHD"
                            class="w3-button w3-blue w3-round-large w3-small"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>